@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bibliothèque</h1> <img src="http://www.sainte-veronique.be/primaire/LOGO-LIVRE.jpg" />
    <p class="lead"> Ce site sert pour la gestion d'une bibliothèque</p>

</div>

<div class="row">
    <div class="col-md-4">

        GRAPHIQUE

    </div>
    <div class="col-md-4">

        LISTES LIVRES

    </div>
    <div class="col-md-4">
        <div class="formulaire">
            <form>
                <p>
                    titre: <input type="text" required />
                </p>
                <p>
                    auteur: <select required>
                        <option value="auteur1">Auteur 1</option>
                        <option value="auteur2">Auteur 2</option>
                    </select>
                </p>
                <p>
                    date de publication: <input type="date" required />
                </p>
                <p>
                    genre : <select name="genre" id="genres">
                        <optgroup label="A">
                            <option value="action">Action</option>
                        </optgroup>
                        <optgroup label="F">
                            <option value="fantastique">Fantastique</option>
                        </optgroup>
                        <optgroup label="H">
                            <option value="horeur">Horeur</option>
                        </optgroup>
                    </select>
                </p>
                <p>
                    editeur : <input type="text" required />
                </p>
                <p> <input type="submit" value="Enregistrer" /></p>

            </form>
        </div>

        @* <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>